<html>
  <head>
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" href="views/styles.css">
  </head>
  <body>
    <h1>Timepstamp Microservice</h1>
    <h2>What's it?</h2>
    <ul>
      <li>API which serves your GET request and returns JSON object like
      {"unix": 1450137600, "natural": "December 15, 2015"}</li>
      <li>It can define whether request is natural time or unixtime.</li>
    </ul>
    <h2>Example requests:</h2>
      <ul>
        <li>https://timestamp-ms.herokuapp.com/1450137600</li>
        <li>https://timestamp-ms.herokuapp.com/December%2015,%202015</li>
      </ul>
  </body>
</html>
